<h3>Adicionar novo carro</h3>
<div [hidden]="submitted" style="width: 400px;">
  <form autocomplete="off" #carForm="ngForm" (ngSubmit)="onSubmit()">
    <div class="form-group">
      <label for="name">Modelo *</label>
      <input type="text" class="form-control" id="model" required [(ngModel)]="vehicle.model" name="model" #model="ngModel">
      <div class="alert alert-danger" role="alert" *ngIf="model.invalid && model.touched">Informe um modelo!</div> 
    </div>
    <div class="form-group">
      <label for="name">Categoria *</label><br>
      <select class="custom-select" id="category" required [(ngModel)]="vehicle.category" name="category" value="" #category="ngModel">
        <option value="HATCH">Hatch</option>
        <option value="SEDAN">Sedan</option>
        <option value="SUV">SUV</option>
        <option value="CAMIONETE">Camionete</option>
        <option value="LUXO">Luxo</option>
      </select>
      <div class="alert alert-danger" role="alert" *ngIf="category.invalid && category.touched">Informe uma categoria!</div>
    </div>
    <div class="form-group">
      <label for="pricePerDay">Preço por diária *</label>
      <input type="number" class="form-control" id="pricePerDay" required [(ngModel)]="vehicle.pricePerDay" name="pricePerDay">
    </div>
    <div class="form-group">
      <label for="pricePerHour">Preço por hora *</label>
      <input type="number" class="form-control" id="pricePerHour" required [(ngModel)]="vehicle.pricePerHour" name="pricePerHour">
    </div>
    <button type="submit" class="btn btn-success" [disabled]="!carForm.valid">Concluir</button>
  </form>
</div>
<div [hidden]="!submitted">
  <button class="btn btn-success" (click)="newCar()">Concluir</button> -->
</div>