<h3>Adicionar novo carro</h3>
<div [hidden]="submitted" style="width: 400px;">
  <form autocomplete="off" #carForm="ngForm" (ngSubmit)="onSubmit()">

    <label for="name" class="form-label">Modelo: *</label>
    <input type="text" class="form-control" id="model" required [(ngModel)]="vehicle.model" name="model"
      #model="ngModel" placeholder="ex: Corolla XEI">
    <div class="alert alert-danger" role="alert" *ngIf="model.invalid && model.touched">Informe um modelo!</div>

    <label for="name" class="form-label">Categoria: *</label><br>
    <select class="form-select" id="category" required [(ngModel)]="vehicle.category" name="category"
      #category="ngModel">
      <option value="HATCH">Hatch</option>
      <option value="SEDAN">Sedan</option>
      <option value="SUV">SUV</option>
      <option value="CAMIONETE">Camionete</option>
      <option value="LUXO">Luxo</option>
    </select>
    <div class="alert alert-danger" role="alert" *ngIf="category.invalid && category.touched">Informe uma categoria!
    </div>
    <div class="row">
      <div class="col">
        <label class="form-label" for="pricePerDay">Valor diária:</label>
        <div class="input-group">
          <span class="input-group-text">R$</span>
          <input type="number" class="form-control" id="pricePerDay" required [(ngModel)]="vehicle.pricePerDay"
            name="pricePerDay" placeholder="0">
          <span class="input-group-text">.00</span>
        </div>
      </div>
      <div class="col">
        <label class="form-label" for="pricePerHour">Valor por hora:</label>
        <div class="input-group">
          <span class="input-group-text">R$</span>
          <input type="number" class="form-control" id="pricePerHour" required [(ngModel)]="vehicle.pricePerHour"
            name="pricePerHour" placeholder="0">
          <span class="input-group-text">.00</span>
        </div>
      </div>
    </div>
    <button type="submit" class="btn btn-success" [disabled]="!carForm.valid">Concluir</button>
  </form>
</div>
<div [hidden]="!submitted">
  <button class="btn btn-success" (click)="newCar()">Concluir</button> -->
</div>