<h3>Detalhes do cliente</h3> 

<hr/>
<div *ngIf="client">
  <div>
    <label><b>Nome:</b></label> {{client.name}}
  </div>
  <div>
    <label><b>CPF:</b></label> {{client.cpf}}
  </div>
  <div>
    <label><b>E-mail:</b></label> {{client.email}}
  </div>
  <div>
    <label><b>Logradouro:</b></label> {{client.logradouro}}
  </div>
  <div>
    <label><b>Complemento:</b></label> {{client.complemento}}
  </div>
  <div>
    <label><b>Nº:</b></label> {{client.numero}}
  </div>
  <div>
    <label><b>Bairro:</b></label> {{client.bairro}}
  </div>
  <div>
    <label><b>localidade:</b></label> {{client.localidade}}
  </div>
  <div>
    <label><b>UF:</b></label> {{client.uf}}
  </div>
</div>

<hr>
<button (click)="list()" class="btn btn-primary">Voltar para lista de clientes</button><br>