<div class="panel panel-primary">
    <div class="panel-heading">
      <h4>Locações em aberto</h4>
    </div>
    <div class="panel-body">
      <table class="table table-striped">
        <thead>
          <tr>
            <th>Cliente</th>
            <th>Data de locação</th>
            <th>Data de devolução prevista</th>
            <th>Carro</th>
            <th>Vendedor</th>
            <th [hidden]="role!='ADMIN'">Ações</th>

          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let locacao of abertas | async">
            <td><a href="">{{locacao.nomeCliente}}</a></td>
            <td>{{locacao.dataInicio}}</td>
            <td>{{locacao.dataFim}}</td>
            <td *ngFor="let veiculo of veiculos | async" [hidden]="veiculo.id!=locacao.veiculo">{{veiculo.modelo}}</td>
            <td *ngFor="let vendedor of vendedores | async" [hidden]="vendedor.id!=locacao.vendedor">{{vendedor.nome}}</td>
            <td [hidden]="role!='ADMIN'"><button (click)="deleteRental(locacao.id)" class="btn btn-danger">Excluir</button>
              <button (click)="updateRental(locacao.id)" class="btn btn-info" style="margin-left: 10px">Confirmar devolução</button>
            </td>
          </tr>
        </tbody>
      </table>

      <hr>
      <h4>Locações fechadas</h4>
      <table class="table table-striped">
        <thead>
          <tr>
            <th>Cliente</th>
            <th>Data de locação</th>
            <th>Data de devolução</th>
            <th>Carro</th>
            <th>Vendedor</th>
            <th>Fatura</th>
            
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let locacao of fechadas | async">
            <td><a href="clientes/{{locacao.cliente}}">{{locacao.nomeCliente}}</a></td>
            <td>{{locacao.dataInicio}}</td>
            <td>{{locacao.dataDevolucao}}</td>
            <td *ngFor="let veiculo of veiculos | async" [hidden]="veiculo.id!=locacao.veiculo"><a href="veiculos/{{locacao.veiculo}}">{{veiculo.modelo}}</a></td>
            <td *ngFor="let vendedor of vendedores | async" [hidden]="vendedor.id!=locacao.vendedor">{{vendedor.nome}}</td>
            <td><a href="locacoes/{{locacao.id}}/fatura"><button type="button" class="btn btn-primary">Fatura</button></a></td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>