<div class="container" style="margin-left: 250px;">
    <div class="row text-center">
        <div class="col-md-5">
            <h3>Entrar</h3>
            <form [formGroup]="usuario" (ngSubmit)="login()">
                <div class="form-group">
                    <input type="text" class="form-control" placeholder="Seu E-mail *" id="email"  formControlName="email">
                </div>
                <div class="form-group">
                    <input type="password" class="form-control" placeholder="Sua senha *" id="password" formControlName="senha">
                </div>
                <button type="submit">Login</button>
            </form>
        </div>
    </div>
</div>