<h3>Detalhes do veículo</h3> 

<hr/>
<div class="" *ngIf="vehicle">
  <div class="card" style="width: 18rem;">
    <img width="110px" height="110px" src="assets/images/icons/{{vehicle.category}}.svg" class="card-img-top" alt="...">
    <div class="card-body">
      <h5 class="card-title">{{vehicle.model}}</h5>
      <p class="card-text">Veículo da categoria {{vehicle.category}} com diária de {{vehicle.pricePerDay | currency: 'BRL'}} e valor por fração de hora de {{vehicle.pricePerHour | currency: 'BRL'}}</p>
      <button (click)="list()" class="btn btn-primary">Voltar</button>
    </div>
  </div>
</div>