<h3>Cadastrar novo cliente</h3>
<div [hidden]="submitted">
  <form autocomplete="off" #usuarioForm="ngForm" (ngSubmit)="onSubmit(usuarioForm)">
    <div class="row g-6">
      <div class="col-md-3">
        <label for="cpf" class="form-label">CPF: *</label>
        <input type="text" class="form-control" id="cpf" required [(ngModel)]="client.cpf" name="cpf" minlength="11" #cpf="ngModel" placeholder="ex: 123.456.789-10">
        <div class="alert alert-danger" role="alert" *ngIf="cpf.invalid && cpf.touched">Informe um CPF!</div>
      </div>
      <div class="col-md-6">
        <label for="name" class="form-label">Nome: *</label>
        <input type="text" class="form-control" id="name" required [(ngModel)]="client.name" name="name" #name="ngModel" placeholder="José Silva">
        <div class="alert alert-danger" role="alert" *ngIf="name.invalid && name.touched">Informe um nome!</div>
      </div>
    <div class="col-md-9">
        <label for="email" class="form-label">E-mail: *</label>
        <input type="email" class="form-control" id="email" required email [(ngModel)]="client.email" name="email" #email="ngModel" placeholder="josesilva@mail.com">
        <div class="alert alert-danger" role="alert" *ngIf="email.invalid && email.touched">Informe um E-mail!</div>
    </div>
  </div>
    <div class="row g-6">
    <div class="col-md-3">
        <label for="cep" class="form-label">CEP: *</label>
        <input type="text" class="form-control" id="cep" required [(ngModel)]="client.cep" name="cep" minlength="8" #cep="ngModel" placeholder="ex: 55641-715" (blur)="consultaCEP($event.target.value, usuarioForm)">
        <div class="alert alert-danger" role="alert" *ngIf="cep.invalid && cep.touched">Informe um CEP válido!</div>
    </div>
    <div class="col-md-6">
        <label for="logradouro" class="form-label">Logradouro:</label>
        <input type="text" class="form-control" id="logradouro"  [(ngModel)]="client.logradouro" name="logradouro" placeholder="ex: Rua Marcionilo Ribeiro de Carvalho">
    </div>
    </div>
    <div class="row g-6">
    <div class="col-md-1">
        <label for="numero" class="form-label">Nº:</label>
        <input type="text" class="form-control" id="numero"  [(ngModel)]="client.numero" name="numero">
    </div>
    <div class="col-md-5">
      <label for="complemento" class="form-label">Complemento:</label>
      <input type="text" class="form-control" id="complemento"  [(ngModel)]="client.complemento" name="complemento">
  </div>
    <div class="col-md-3">
        <label for="bairro" class="form-label">Bairro:</label>
        <input type="text" class="form-control" id="bairro"  [(ngModel)]="client.bairro" name="bairro" placeholder="ex: Nossa Senhora das Graças">
    </div>
    </div>
    <div class="row g-6">
    <div class="col-md-7">
        <label for="localidade" class="form-label">Localidade:</label>
        <input type="text" class="form-control" id="localidade"  [(ngModel)]="client.localidade" name="localidade" placeholder="ex: Gravatá">
    </div>
    <div class="col-md-2">
        <label for="uf" class="form-label">UF:</label>
        <input type="text" class="form-control" id="uf"  [(ngModel)]="client.uf" name="uf" placeholder="ex: PE">
    </div>
  </div>
    <button type="submit" class="btn btn-success" [disabled]="!usuarioForm.valid" >Concluir</button>

  </form>
</div>
<div [hidden]="!submitted">
  <button class="btn btn-success" (click)="newClient()">Concluir</button> -->
</div>