

<div class="panel panel-primary" >
    <div class="panel-heading">
      <h3>Lista de Carros</h3>
      <hr>
      <div class="col-lg-12" style="text-align: right;">
        <button class="float-sm-left" [hidden]="show" (click)="listMode()">Alternar modo de listagem</button>
        <button class="float-sm-left" [hidden]="!show" (click)="cardMode()">Alternar modo de listagem</button>
      </div>
    </div>
    <div [hidden]="!show">
      <div class="panel-body">
        <table class="table table-striped">
          <thead>
            <tr>
              <th>Modelo</th>
              <th>Categoria</th>
              <th></th>
              <th>Ações</th>
            </tr>
          </thead>
          <tbody>
            <tr *ngFor="let vehicle of vehicles | async">
              <td>{{vehicle.modelo}}</td>
              <td>{{vehicle.categoria}}</td>
              <td><img width="40px" height="45px" src="assets/images/icons/{{vehicle.categoria}}.svg"></td>
              <td>
                  <button (click)="carDetails(vehicle.id)" class="btn btn-info" style="margin-left: 10px">Detalhes</button>
              </td>
            </tr>
          </tbody>
        </table>
      </div>
  </div>
  <div class="row" [hidden]="show">
    <div class="col-md-4 d-flex justify-content-center" *ngFor="let vehicle of vehicles | async">
      <a href="vehicles/{{vehicle.id}}"> 
      <div class="card" style="width: 18rem;">
        <img width="110px" height="110px" src="assets/images/icons/{{vehicle.categoria}}.svg" class="card-img-top">
        <div class="card-body">
          <hr>
          <h5 class="card-title text-center">{{vehicle.modelo}}</h5>
          <hr>
          <p class="card-text">
            Categoria: {{vehicle.categoria}} <br>
            Diária: {{vehicle.precoPorDia | currency: 'BRL'}} <br>
            Fração de hora: {{vehicle.precoPorHora | currency: 'BRL'}} <br>
          </p>
        </div>
      </div>
      </a>
    </div>
  </div>
</div>