<h3>Editar locação</h3>
<table class="table table-striped">
  <thead>
    <tr>
      <th>Cliente</th>
      <th>Carro</th>
      <th>Data de Locação</th>
      <th>Data de Devolução prevista</th>
      <th>Ações</th>
    </tr>
  </thead>
  <tbody *ngFor="let ren of rentals | async">
    <tr *ngIf="ren.id == rental.id">
      <td><a href="clients/{{ren.client.id}}">{{ren.client.name}}</a></td>
      <td><a href="vehicles/{{ren.vehicle.id}}">{{ren.vehicle.model}}</a></td>
      <td>{{ren.start | date: 'dd/MM/yyyy HH:mm'}}</td>
      <td>{{ren.finish | date: 'dd/MM/yyyy HH:mm'}}</td>
      <td><button (click)="gotoInvoice(rental.id)" class="btn btn-info" [disabled]="!f.valid">Ir para fatura</button></td>
    </tr>
</table>  
<div [hidden]="submitted" style="width: 400px;">
  <form #f="ngForm" (ngSubmit)="onSubmit()">
      <div class="form-group">
        <label for="dateReturn">Sinalizar Devolução</label>
        <input type="datetime-local" class="form-control" id="dateReturn" required [(ngModel)]="rental.dateReturn" name="dateReturn">
      </div>
      <button type="submit" class="btn btn-success">Concluir</button> 
    </form>
  </div>
  
  <div [hidden]="!submitted">
    <button class="btn btn-success">Concluir</button> -->
  </div>