<h3>Locar carro</h3>
<hr>
<div [hidden]="submitted">
  <form #rf="ngForm" (ngSubmit)="onSubmit(rf)">
    <div class="row">
      <div class="col-md-3">
        <label for="start" class="form-label">Data de locação: </label>
        <input type="datetime-local" class="form-control" id="start" required [(ngModel)]="rental.dataInicio" name="start">
      </div>
      <div class="col-md-3">
        <label for="finish" class="form-label">Data de devolução prevista: </label>
        <input type="datetime-local" class="form-control" id="finish" required [(ngModel)]="rental.dataFim"
          name="finish">
      </div>
    </div>
    <div class="row">
      <div class="col-md-6">
        <label for="client" class="form-label">Cliente:</label>
        <select class="form-select" id="client" required [(ngModel)]="rental.cliente" name="client">
          <option *ngFor="let client of clients | async" [ngValue]=client.id>{{client.nome}}</option>
        </select>
      </div>
    </div>
    <div class="row">
      <div class="col-md-6">
        <label for="vehicle" class="form-label">Carro:</label>
        <select class="form-select" id="vehicle" required [(ngModel)]="rental.veiculo" name="vehicle">
          <option *ngFor="let vehicle of vehicles | async" [ngValue]=vehicle.id>{{vehicle.modelo}}</option>
        </select>
      </div>
    </div>
    <hr>
    <button type="submit" class="btn btn-success" [disabled]="!rf.valid" (click)="dateFormat(rf)" (click)="fieldFormat(rf)">Concluir</button>
  </form>
</div>
<div [hidden]="!submitted">
  <button class="btn btn-success" (click)="newRental()">Concluir</button> -->
</div>