<div class="container" style="margin-left: 250px;">
    <div class="row text-center">
        <div class="col-md-5">
            <h3>Entrar</h3>
            <form #loginForm="ngForm" (ngSubmit)="onSubmit(loginForm)">
                <div *ngIf="loginSuccess==false" class="alert alert-danger" role="alert">{{erro}}</div>
                <div class="form-group">
                    <input type="text" class="form-control" placeholder="Seu E-mail *" id="email" [(ngModel)]="usuario.email" name="email">
                </div>
                <div class="form-group">
                    <input type="password" class="form-control" placeholder="Sua senha *" id="password" [(ngModel)]="usuario.senha" name="senha">
                </div>
                <button type="submit">Login</button>
            </form>
        </div>
    </div>
</div>