<h3>Detalhes do cliente</h3> 

<hr/>
<div *ngIf="cliente">
  <div>
    <label><b>Nome:</b></label> {{cliente.nome}}
  </div>
  <div>
    <label><b>CPF:</b></label> {{cliente.cpf}}
  </div>
  <div>
    <label><b>E-mail:</b></label> {{cliente.email}}
  </div>
  <div>
    <label><b>Logradouro:</b></label> {{cliente.logradouro}}
  </div>
  <div>
    <label><b>Complemento:</b></label> {{cliente.complemento}}
  </div>
  <div>
    <label><b>Nº:</b></label> {{cliente.numero}}
  </div>
  <div>
    <label><b>Bairro:</b></label> {{cliente.bairro}}
  </div>
  <div>
    <label><b>localidade:</b></label> {{cliente.localidade}}
  </div>
  <div>
    <label><b>UF:</b></label> {{cliente.uf}}
  </div>
</div>

<hr>
<button (click)="list()" class="btn btn-primary">Voltar para lista de clientes</button><br>