<div class="panel panel-primary">
    <div class="panel-heading">
      <h3>Locações em aberto</h3>
      <hr>
    </div>
    <div class="panel-body">
      <table class="table table-striped">
        <thead>
          <tr>
            <th>Cliente</th>
            <th>Data de locação</th>
            <th>Data de devolução prevista</th>
            <th>Carro</th>
            <th>Ações</th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let rental of openRentals | async">
            <td><a href="">{{rental.nomeCliente}}</a></td>
            <td>{{rental.dataInicio}}</td>
            <td>{{rental.dataFim}}</td>
            <td>{{rental.veiculo}}</td>
            <td><button (click)="deleteRental(rental.id)" class="btn btn-danger">Excluir</button>
              <button (click)="updateRental(rental.id)" class="btn btn-info" style="margin-left: 10px">Confirmar devolução</button>
            </td>
          </tr>
        </tbody>
      </table>

      <hr>
      <h3>Locações fechadas</h3>
      <hr>
      <table class="table table-striped">
        <thead>
          <tr>
            <th>Cliente</th>
            <th>Data de locação</th>
            <th>Data de devolução</th>
            <th>Carro</th>
            <th>Fatura</th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let rental of closedRentals | async">
            <td><a href="clients/{{rental.client.id}}">{{rental.nomeCliente}}</a></td>
            <td>{{rental.dataInicio}}</td>
            <td>{{rental.dataDevolucao}}</td>
            <td><a href="vehicles/{{rental.vehicle.id}}">{{rental.veiculo}}</a></td>
            <td><a href="invoices/{{rental.id}}"><button type="button" class="btn btn-primary">Fatura</button></a></td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>
