<div class="panel panel-primary">
    <div class="panel-heading">
      <h3>Lista de Carros Alugados</h3>
    </div>
    <div class="panel-body">
      <table class="table table-striped">
        <thead>
          <tr>
            <th>Cliente</th>
            <th>Data de Locação</th>
            <th>Data de Devolução</th>
            <th>Carro</th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let rental of rentals | async">
            <td><a href="clients/{{rental.client.id}}">{{rental.client.name}}</a></td>
            <td>{{rental.start | date: 'dd/MM/yyyy HH:mm'}}</td>
            <td>{{rental.finish | date: 'dd/MM/yyyy HH:mm'}}</td>
            <td><a href="vehicles/{{rental.vehicle.id}}">{{rental.vehicle.model}}</a></td>
            <td><button (click)="deleteRental(rental.id)" class="btn btn-danger">Excluir</button>
              <button (click)="updateRental(rental.id)" class="btn btn-info" style="margin-left: 10px">Editar</button>
            </td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>