h4 {
    text-align: center;
    padding-top: 15px;
    padding-bottom: 15px;
    background-color: bisque;
}

table {
    text-align: center;
    background-color: bisque;
}

form {
    background-color: bisque;
    padding-left: 11rem;
}

.card {
    margin-top: 10px;
}

.card-body {
    background-color: azure;
}