<h3>Editando {{vehicle.modelo}}</h3>
<hr>
<div [hidden]="submitted">
  <form autocomplete="off" (ngSubmit)="onSubmit()">
    <div class="row">
      <div class="col-md-4">
        <label for="name" class="form-label">Modelo: *</label>
        <input type="text" class="form-control" id="model" required [(ngModel)]="vehicle.modelo" name="model"
          #model="ngModel" placeholder="ex: Corolla XEI">
        <div class="alert alert-danger" role="alert" *ngIf="model.invalid && model.touched">Informe um modelo!</div>
      </div>
    </div>
    <div class="row">
      <div class="col-md-4">
        <label for="name" class="form-label">Categoria: *</label>
        <select class="form-select" id="category" required [(ngModel)]="vehicle.categoria" name="category"
          #category="ngModel">
          <option value="HATCH">Hatch</option>
          <option value="SEDAN">Sedan</option>
          <option value="SUV">SUV</option>
          <option value="CAMIONETE">Camionete</option>
          <option value="LUXO">Luxo</option>
        </select>
        <div class="alert alert-danger" role="alert" *ngIf="category.invalid && category.touched">Informe uma categoria!
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col-md-2">
        <label class="form-label" for="pricePerDay">Valor diária:</label>
        <div class="input-group">
          <span class="input-group-text">R$</span>
          <input type="number" class="form-control" id="pricePerDay" required [(ngModel)]="vehicle.precoPorDia"
            name="pricePerDay" placeholder="0">
        </div>
      </div>
      <div class="col-md-2">
        <label class="form-label" for="pricePerHour">Valor por hora:</label>
        <div class="input-group">
          <span class="input-group-text">R$</span>
          <input type="number" class="form-control" id="pricePerHour" required [(ngModel)]="vehicle.precoPorHora"
            name="pricePerHour" placeholder="0">
        </div>
      </div>
    </div>
    <hr>
    <button type="submit" class="btn btn-success">Concluir</button>
  </form>
</div>

<div [hidden]="!submitted">
  <button class="btn btn-success">Concluir</button> -->
</div>